@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1>DOBRODOŠLI</h1>
    <p class="lead">Ovo je samo testna stranica</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>TEST </h2>
        <p>
            Projekt voznog parka.
        </p>

    </div>
    <div class="col-md-4">
    </div>
</div>